<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
</div>
<p>The purpose is to give you the tips and experience to get a job or skill in a concise way. 
What to practice and prep for can improve you chances at a job opportunity. </p>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Something to think about</a></h2>
  </li>
  <li>
  </li>
  
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
	
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.amazon.com/Arbans-Famous-Trombone-Baptiste-Laurent/dp/0825802547/ref=sr_1_1?s=books&ie=UTF8&qid=1529820540&sr=1-1&keywords=Arban%27s+Famous+Method+for+Trombone">What inspired the site.</a></h2>
  </li>
</ul>

